services:
  keycloakdb:
    image: postgres:17.7
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_db_user
      POSTGRES_PASSWORD: keycloak_db_user_password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak_db_user -d keycloak_db" ]
      interval: 3s # check every 3s
      timeout: 2s # give each check 2s to respond
      retries: 5 # fail only after 5 failed checks
      start_period: 5s # initial delay before healthcheck starts
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: start-dev --import-realm
    ports:
      - "9080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloakdb:5432/keycloak_db
      KC_DB_USERNAME: keycloak_db_user
      KC_DB_PASSWORD: keycloak_db_user_password
      KC_HEALTH_ENABLED: true
    depends_on:
      keycloakdb:
        condition: service_healthy
    volumes:
      - ./dev_keycloak_realm_data:/opt/keycloak/data/import
    healthcheck:
      test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:8080/health/live']
      interval: 5s
      timeout: 5s
      retries: 30

  mysql:
    image: mysql:latest
    container_name: mysql
    # ports:
    #   - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: visual_app_design
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -proot || exit 1" ]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 5s
    restart: unless-stopped

  mongo:
    image: mongo:latest # You can use any version you prefer
    container_name: mongo
    # ports:
    #   - "27017:27017"
    networks:
      - default
        # environment:
        #   MONGO_INITDB_ROOT_USERNAME: root
        #   MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 5s
    restart: unless-stopped

  rasp-designer-fe:
    image: 172.16.202.56:5000/rasp-designer-fe:latest
    container_name: rasp-designer-fe
    ports:
      - "80:80"
    depends_on:
      - keycloak
      - rasp-designer-be
    environment:
      # - REACT_APP_FRONTEND_URL=http://${HOST_IP:-127.0.0.1}:3000
      - MY_PREFIX_REACT_APP_NODEJS_BACKEND_URL=http://${HOST_IP:-127.0.0.1}:9000
      # - WDS_SOCKET_PORT=0
      # ! Where your built files live in the container
      - ASSET_DIR=/usr/share/nginx/html
      # ! Prefix used for placeholder detection
      - APP_PREFIX=MY_PREFIX_
    restart: unless-stopped

  rasp-designer-be:
    image: 172.16.202.56:5000/rasp-designer-be:latest
    container_name: rasp-designer-be
    ports:
      - "9000:8000"
    environment:
      # ! NEVER PROVIDE THIS IN PROD AS it makes TLS connections and HTTPS requests insecure by disabling certificate verification.
      - NODE_TLS_REJECT_UNAUTHORIZED=0
      - DATABASE_URL=mysql://root:root@mysql:3306/visual_app_design
      - KEYCLOAK_URL=http://${HOST_IP:-127.0.0.1}:9080
      - REALM=myRealm
      - CLIENT_ID=adi-rest-api
      - CLIENT_SECRET=RnxVQ0TTbwETlZeN7k3lXZB78fFUt0sF
      - REDIRECT_URI=http://${HOST_IP:-127.0.0.1}:9000/auth/callback
      - FRONTEND_URL=http://${HOST_IP:-127.0.0.1}
      - SERVER_HOSTNAME=localhost
      - SERVER_PORT=9000
      - GENERATOR_URL=http://${HOST_IP:-127.0.0.1}:9082/api
      - REACT_APP_URL=http://${HOST_IP:-127.0.0.1}:3001
    # Login flow
    # /login (backend) -> keycloak -> auth/callback (backend) -> frontend
    depends_on:
      keycloak:
        condition: service_started
      mysql:
        condition: service_healthy
      # rasp-rbac:
      #   condition: service_started
    restart: unless-stopped

  rasp-rbac:
    image: 172.16.202.56:5000/rasp-rbac:latest
    container_name: rasp-rbac
    ports:
      - "9082:9082"
    entrypoint: [ "sh", "-c", "sleep 15 && exec java -jar app.jar" ]
    networks:
      - default
    environment:
      - CLIENT_ID=adi-rest-api
      - CLIENT_SECRET=RnxVQ0TTbwETlZeN7k3lXZB78fFUt0sF
      - DEMO_RASP_BACKEND=/app/rasp_backend
      - DMS_HOST=https://rasp-dms.localhost
      - DMS_PORT=443
      - FRONTEND_URL=http://${HOST_IP:-127.0.0.1}:80
      # TODO: check if this is only for fetch calls or also to redirect frontend to keycloak
      # - KEYCLOAK_HOST=http://localhost:9080
      - KEYCLOAK_HOST=http://${HOST_IP:-127.0.0.1}
      - KEYCLOAK_PORT=9080
      - RASP_GENERATED_PROJECT=/generated
      - REALM=myRealm
      - SERVER_HOST=http://${HOST_IP:-127.0.0.1}
      - SERVER_PORT=9082
      - DB_SERVER=mongo
      - DB_PORT=27017
    depends_on:
      mongo:
        condition: service_healthy
      # keycloak:
      #   condition: service_healthy
    restart: unless-stopped

volumes:
  mysql_data:
  postgres_data:
  mongo_data:
